.wprc-container {
    display: block;
    float: right;
    width: 100%;
    margin: 20px 0;
}

.wprc-container .wprc-content {
    background: #F6F6F6;
    border-top: 4px solid #FDCE3A;
    width: 100%;
    padding: 20px;
    display: none;
    clear: both;
    max-height:250px;
}

.wprc-content .left-section, .wprc-content .right-section {
    width: 50%;
}

.wprc-content .left-section {
    float: left;
}

.wprc-content .right-section {
    float: right;
    padding-left: 20px;
}

.wprc-content .right-section li {
    height: 100%;
}

.wprc-content .wprc-form a {
    font-size: 100%;
}

.clear {
    clear: both;
}

div.wprc-content li {
    list-style: none outside none;
    margin: 0;
}

.wprc-content textarea, .wprc-content input[type='text'], .wprc-content input[type='email'],
    .wprc-content input[type='password'], .wprc-content select {
    resize: none;
    width: 100%;
    padding: 5px;
}

.wprc-content, .wprc-content textarea, .wprc-content input,
    .wprc-content select, .wprc-content .left-section, .wprc-content .right-section
    {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.wprc-content .required-sign {
    color: #FF0000;
}

.wprc-content .input-details {
    height: 135px;
}

.wprc-container button.wprc-switch {
    float: right;
}

.wprc-message.error, .wprc-message.success {
    background-image: url("../img/sprites.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding: 10px 10px 10px 50px;
    margin-bottom: 10px;
}

.wprc-message.error {
    background-color: #E85E2B;
    background-position: 10px 7px;
}

.wprc-message.success {
    background-color: #6CBE56;
    background-position: 10px -39px;
}

.wprc-content .loading-img {
    vertical-align: middle;
    box-shadow: none;
    border: 0 none;
}

.wprc-content .wprc-submit {
    margin-top: 10px;
}

.wprc-container button.wprc-switch, .wprc-container button.wprc-switch:hover,
    .wprc-container button.wprc-switch:active, .wprc-content button.wprc-submit,
    .wprc-content button.wprc-submit:hover, .wprc-content button.wprc-submit:active
    {
    background: #FDCE3A;
    border: 1px solid #FDCE3A;
    border-radius: 0;
    color: #946501;
    box-shadow: none;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    .wprc-content .left-section, .wprc-content .right-section {
        width: 100%;
    }
    .wprc-container .wprc-content {
        max-height: 300px;
    }
    .wprc-content .right-section {
        float: left;
        padding-left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .wprc-content .left-section, .wprc-content .right-section {
        width: 100%;
    }
    .wprc-container .wprc-content {
        max-height: 300px;
    }
    .wprc-content .right-section {
        float: left;
        padding-left: 0;
    }

}